## Ignore environment variable files
.env
.env.*

## Ignore Python virtual environment directories
venv/

## dbt project files
dbt_project/logs/
dbt_project/.user.yml
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
dbt_project/venv/
dbt_project/package-lock.yml

## Ignore src directory files
src/__pycache__/
src/api_clients/__pycache__/
src/jobs/__pycache__/
src/loaders/__pycache__/
src/utils/__pycache__/

## Ignore dags directory files
dags/__pycache__/
dags/etl/__pycache__/
dags/dbt/__pycache__/
dags/exampledag.py
dags/stock_screening_dag.py
dags/.airflowignore

## airflow files
airflow_settings.yaml

## Ignore capstone project directory files (it just for reference)
capstone_project/
